body {
  background: linear-gradient(to bottom, #f2c4e0c7, #f2c4e0c7);
  margin: 0;
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  color: #ff1493;
}

#countdown-container {
  margin-top: 20vh;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#countdown div {
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(255, 105, 180, 0.5);
}

#countdown span {
  font-size: 2em;
  display: block;
}

#heart {
  width: 100px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) scale(0);
  background: transparent;
  border: 4px dotted #fe2190;
  border-radius: 50%;
  animation: none;
}

#message-card {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(252, 140, 190);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 20px rgba(249, 140, 189, 0.6);
  font-size: 1.1em;
  color: #ef2390;
  animation: fadeIn 1.5s ease-in-out;
}

.hidden {
  display: none;
}

#confetti-canvas,
#fireworks-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -20%); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes scaleUp {
  to { transform: translate(-50%, -50%) scale(1); }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

/*buble effect styles */
.bubble {
  position: fixed;
  bottom: -50px;
  background: rgba(243, 3, 167, 0.975);
  border-radius: 50%;
  pointer-events: none;
  animation: fall 6s linear infinite;
}

@keyframes fall {
  0% {
    top: -50px; /* start above the screen */
    opacity: 1;
  }
  100% {
    top: 100vh; /* fall till bottom */
    opacity: 0;
  }
}